<header>
  <h1>{{titulo}}</h1>

  <nav>
    <a routerLink="/registro" routerLinkActivate="activate-tab">Registro Usuario</a> 
    <a routerLink="/buscador" routerLinkActivate="activate-tab">Buscador Pokemon</a>
    <a routerLink="/pokemon/mewtwo" routerLinkActivate="activate-tab">Mewtwo</a>
    <a routerLink="/pokemon/lucario" routerLinkActivate="activate-tab">Lucario</a>
    <a routerLink="/pokemon/zeraora" routerLinkActivate="activate-tab">Zeraora</a>
    <a routerLink="/pokemon/darkrai" routerLinkActivate="activate-tab">Darkrai</a>
    <a routerLink="/pokemon/ceruledge" routerLinkActivate="activate-tab">Ceruledge</a>
    <a routerLink="/pokemon/arceus" routerLinkActivate="activate-tab">Arceus</a>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>